@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(98, 0, 238, 0.04);
    margin: 0;
}

.form-wrapper {
    max-width: 800px;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.form-card {
    padding: 0 2rem 2rem 2rem;
}

.divider-full {
    height: 1px;
    background-color: var(--mdc-theme-on-surface);
    opacity: 0.12;
}

.drawer-wrapper {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow-y: hidden;
}

.drawer-content-inner {
    position: relative;
    flex-grow: 1;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;
}

.fab-main {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.fab-context {
    position: absolute;
    bottom: -1.5rem;
    left: 1.5rem;
}

.fab-context-avatar {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

@media(min-width: 960px) {
    .app-dialog-surface {
        width: 800px !important;
    }
}

@media(min-width: 960px) {
    .small-dialog-surface {
        min-width: 400px !important;
    }
}

.card-img-preview {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.card-avatar-bg-img-wrapper {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow: hidden;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.card-avatar-bg-img {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    filter: blur(10px);
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
}

.card-avatar-preview {
    width: 15rem;
}

.card-avatar-image {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    border-radius: 50%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
}

.app-data-table {
    padding: 1.5rem;
    flex-grow: 1;
    height: 0;
}

.toolbar-content-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.toolbar-content {
    background-color: var(--mdc-theme-background);
    min-height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    display: flex;
    align-items: center;
}
