@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0fa;
    margin: 0;
}

.form-wrapper {
    max-width: 800px;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.form-card {
    padding: 0 2rem 2rem 2rem;
}

.divider-full {
    height: 1px;
    background-color: var(--mdc-theme-on-surface);
    opacity: 0.12;
}

.drawer-wrapper {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow-y: hidden;
}

.drawer-content-inner {
    position: relative;
    flex-grow: 1;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;
}

.fab-main {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.fab-context {
    position: absolute;
    bottom: -1.5rem;
    left: 1.5rem;
}

@media(min-width: 960px) {
    .ships-dialog-surface {
        width: 800px !important;
    }
}

.card-img-preview {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}