.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-auto {
    height: auto !important;
}

.text-center {
    text-align: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-none {
    overflow: unset !important;
}

.d-none {
    display: none !important;
}

.ratio-16-9 {
    position: relative;
    padding-bottom: 56.25%;
}

.ratio-inner {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-size: cover;
}
