{% extends 'base.html' %}

{% block base_content %}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">sailing</span>
                <span class="mdc-top-app-bar__title">Ship Chart</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                {% if session['user_id'] %}
                    <a href="{{ url_for('auth.logout') }}" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Person" data-mdc-auto-init="MDCRipple">
                        <div class="mdc-icon-button__ripple"></div>
                        logout
                    </a>
                {% else %}
                    <a href="{{ url_for('auth.index') }}" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Person" data-mdc-auto-init="MDCRipple">
                        <div class="mdc-icon-button__ripple"></div>
                        person
                    </a>
                {% endif %}
            </section>
        </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        {% block content %}

        {% endblock %}
    </main>
{% endblock %}
