{% extends 'admin_drawer_app_bar.html' %}

{% block content %}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            {% for ship in ships %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
                    <div class="mdc-card">
                        <div class="mdc-card__media mdc-card__media--16-9"
                             {% if ship[3] != '' %}
                                style="background-image: url({{ url_for('uploaded_file', filename=ship[3]) }})"
                             {% else %}
                                style="background-image: url({{ '/static/resources/images/ship_bg.jpg' }})"
                             {% endif %}
                        ></div>
                        <div class="mdc-card__content">
                            <div class="mdc-typography--headline6 mb-2">{{ ship[1] }}</div>
                            <div class="mdc-theme--text-secondary-on-light">{{ ship[2] }}</div>
                        </div>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-buttons">
                                <button type="button" role="edit-ship" class="mdc-button mdc-card__action mdc-card__action--button" data-mdc-auto-init="MDCRipple" data-ship-id="{{ ship[0] }}" data-ship-name="{{ ship[1] }}" data-port-id="{{ ship[4] }}" data-ship-image="{{ ship[3] }}">
                                    <div class="mdc-button__ripple"></div>
                                    <span class="mdc-button__label">Edit ship</span>
                                </button>
                            </div>
                            <div class="mdc-card__action-icons">
                                <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon mdc-theme--error" title="Delete ship" data-mdc-auto-init="MDCRipple" data-action="{{ url_for('ships.ship') }}" role="delete-ship" data-ship-id="{{ ship[0] }}">
                                    <div class="mdc-icon-button__ripple"></div>
                                    delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <button id="addShip" type="button" class="mdc-fab mdc-fab--extended fab-main" data-mdc-auto-init="MDCRipple">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">add</span>
        <span class="mdc-fab__label">Add ship</span>
    </button>

    <form id="shipForm" action="{{ url_for('ships.ship') }}">
        <div id="shipDialog" class="mdc-dialog mdc-dialog--fullscreen">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface app-dialog-surface overflow-none"
                     role="dialog"
                     aria-modal="true"
                     aria-labelledby="ship-dialog-title"
                     aria-describedby="ship-dialog-content">
                    <div class="mdc-dialog__header">
                        <h2 class="mdc-dialog__title" id="ship-dialog-title">
                            Full-Screen Dialog Title
                        </h2>
                        <button type="button" class="mdc-icon-button material-icons mdc-dialog__close" data-mdc-dialog-action="close">
                            close
                        </button>
                    </div>
                    <div class="mdc-dialog__content overflow-auto" id="ship-dialog-content">
                        <input id="shipIdInput" type="hidden" name="ship-id">
                        <div class="card-img-preview ratio-16-9 mb-5">
                            <div id="shipImgDisplay" class="ratio-inner" style="background-image: url('/static/resources/images/ship_bg.jpg')">
                                <button id="chooseShipImg" type="button" class="mdc-fab mdc-fab--extended fab-context" data-mdc-auto-init="MDCRipple">
                                    <div class="mdc-fab__ripple"></div>
                                    <span class="material-icons mdc-fab__icon">edit</span>
                                    <span class="mdc-fab__label">Choose image</span>
                                </button>
                            </div>
                        </div>
                        <input id="shipImgInput" class="d-none" type="file" name="ship-image">
                        <label id="shipNameComponent" class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon w-100 mb-4" data-mdc-auto-init="MDCTextField">
                            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">sailing</i>
                            <span class="mdc-text-field__ripple"></span>
                            <span class="mdc-floating-label" id="login-label-id">Ship name</span>
                            <input class="mdc-text-field__input" id="shipNameInput" type="text" aria-labelledby="login-label-id" name="ship-name">
                            <span class="mdc-line-ripple"></span>
                        </label>
                        <div id="portSelect" class="mdc-select mdc-select--filled w-100">
                            <input id="portIdInput" type="hidden" name="port-id">
                            <div class="mdc-select__anchor"
                                 role="button"
                                 aria-haspopup="listbox"
                                 aria-expanded="false"
                                 aria-labelledby="port-label port-selected-text">
                                <span class="mdc-select__ripple"></span>
                                <span id="port-label" class="mdc-floating-label">Ship port</span>
                                <span class="mdc-select__selected-text-container">
                                    <span id="port-selected-text" class="mdc-select__selected-text"></span>
                                </span>
                                <span class="mdc-select__dropdown-icon">
                                    <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
                                        <polygon
                                                class="mdc-select__dropdown-icon-inactive"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 10 12 15 17 10">
                                        </polygon>
                                        <polygon
                                                class="mdc-select__dropdown-icon-active"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 15 12 10 17 15">
                                        </polygon>
                                    </svg>
                                </span>
                                <span class="mdc-line-ripple"></span>
                            </div>

                            <div id="portSelectMenu" class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                <ul class="mdc-deprecated-list" role="listbox" aria-label="Ports picker">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel" data-mdc-auto-init="MDCRipple">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Cancel</span>
                        </button>
                        <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept" data-mdc-auto-init="MDCRipple">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Accept</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>
    </form>

    <aside id="errorsSnackbar" class="mdc-snackbar" data-mdc-auto-init="MDCSnackbar"">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Something goes wrong!
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action" data-mdc-auto-init="MDCRipple">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Dismiss</span>
                </button>
            </div>
        </div>
    </aside>
{% endblock %}

{% block special_scripts %}
    <script src="/static/js/ships.js"></script>
{% endblock %}